<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PROYECTO NO. 3</h1>

    <div class="xml_tweets">
        <h2>Envio Xml Mensajes y Configuracion</h2>
        <form action="POST" id="myform" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" id="file">
            <button type="button" id="submitButton"> Enviar Archivo </button>
        </form>
    </div>

    <div id="response">
        <textarea name="responseTxt" id="responseTxt" cols="100" rows="50" readonly></textarea>
        <button type="button" id="getResponse"> Archivo salida Tweets</button>
        <button type="button" id="getConfi">Archivo salida Configuracion</button>
    </div>
    <div>
        <h2> listas(Hashtags, Menciones y Emociones) </h2>
        <div id="Calendars">
            <input type="date" name="dateMin" id="dateMin">
            <input type="date" name="dateMax" id="dateMax">
        </div>
        <div id="responseList">       
        </div>
        <button type="button" id="getHash">Hashtags</button>
        <button type="button" id="getUsers">Menciones</button>
        <button type="button">Emociones</button>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $("#submitButton").click(function(e){
                e.preventDefault();
                let form=new FormData()
                form.append('data',$("#inputData").val())
                form.append('file',$("#file")[0].files[0])
                let csrfToken = $("input[name='csrfmiddlewaretoken']").val()
                form.append('csrfmiddlewaretoken',csrfToken)
                $.ajax({
                    type:'POST',
                    url:'',
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function(response){
                        $('#response').html(response.message)
                    },
                    error:function(xhr,status,error){
                        $('#response').html('Error'+ error)
                    }
                });
            });

            $('#getResponse').click(function(){
                $.get("/SendXml/resumenTweets",function(response){
                    $("#responseTxt").removeAttr("readonly")
                    $("#responseTxt").val(response.info)
                    $("#responseTxt").prop("disabled", true);
                })
            })

            $('#getConfi').click(function(){
                $.get("/SendXml/resumenConfig",function(response){
                    $("#responseTxt").removeAttr("readonly")
                    $("#responseTxt").val(response.info)
                    $("#responseTxt").prop("disabled", true);
                })
            })

            $('#getHash').click(function(){
                let dateValueMin = $('#dateMin').val()
                let dateValueMax = $('#dateMax').val() 
                if(dateValueMin == null || dateValueMin == ''){
                    alert('Ingrese fecha minima :s')
                }else if(dateValueMax == null || dateValueMax == ''){
                    alert('ingrese fecha maxima :s')
                } else{
                    url = `/SendXml/ListHash/${dateValueMin}_${dateValueMax}`
                    $.get(url,function(response){
                        if('info' in response){
                            let padre = document.querySelector("#responseList")
                            if (padre.hasChildNodes()){
                                while(padre.firstChild){
                                    padre.removeChild(padre.firstChild);
                                }
                            }
                            for(let i=0;i<response.info.length;i++){
                                let divList = document.querySelector("#responseList")
                                let li = document.createElement('li')
                                li.textContent = response.info[i].fecha
                                li.classList.add('liFecha')
                                divList.appendChild(li)
                                console.log(response.info[i].fecha)
                                let hash = response.info[i]
                                for (let j=0;j< hash.Hashtags.length;j++){
                                    console.log(hash.Hashtags[j])
                                    let divUl = document.createElement('div')
                                    divUl.classList.add('ulInfo')
                                    let ulDataHash = document.createElement('ul')
                                    ulDataHash.textContent =  hash.Hashtags[j].Hashtag
                                    let ulDatacon = document.createElement('ul')
                                    ulDatacon.textContent = hash.Hashtags[j].contador
                                    divUl.appendChild(ulDataHash)
                                    divUl.appendChild(ulDatacon)
                                    li.appendChild(divUl)
                                }
                            }
                        }else if('error' in response){
                            alert('error' + response.error)
                        }
                    })
                }

            })

            $('#getUsers').click(function(){
                let dateValueMin = $('#dateMin').val()
                let dateValueMax = $('#dateMax').val()
                if( dateValueMin == "" || dateValueMin == null){
                    alert('Ingrese Fecha minima de rango')
                } else if (dateValueMax == "" || dateValueMax == null){
                    alert('Ingrese Fecha maxima de rango')
                }else{
                    let url = `/SendXml/ListUsers/${dateValueMin}_${dateValueMax}`
                    $.get(url,function(response){
                        console.log(response.dateMax)
                    })
                }
            })
        })


    </script>
</body>
</html>